{% extends "_base.html" %}

{% block title %}
Приложение Notes
{% endblock %}

{% block content %}


<div x-data="getCategories()">
   <h3 class="text-center mt-5" style="color:#777">все группы заметок пользователя <span class="fw-bold">{{ request.user.username | default:'Guest' }}</span></h3>
    <form id="category-form">
        {% csrf_token %}
    </form>
    <div class="container pt-5">
<div class="input-group px-5">
  <input x-model="newCategory" class="form-control" placeholder="Название группы">
  <input x-model="newDescription" class="form-control" placeholder="Описание группы">
  <button @click="addCategory(newCategory, newDescription)" type="button" class="btn btn-primary"><i class="uil uil-notes"></i> Добавить категорию</button>
</div>
<div class="container">  <!--class="card-group p-5"> -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
   <template x-for="category in categories">
    <div class="col">
     <div class="card h-100 bg-light">
      <div class="card-header">
       <h4 class="card-title text-center my-2">
            <input x-model="category.title" class="form-control" >
<!--
           <a x-text="category.title" x-bind:href="'/category/'+category.id"></a>
-->
       </h4>
      </div>
    <div class="card-body">
      <textarea x-model="category.description" class="form-control" ></textarea>
<!--
<p x-text="category.description" class="card-text pt-3 pb-3"></p>
-->
    </div>
    <div class="card-footer">
         <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm">
           <a x-bind:href="'/category/'+category.id" style="text-decoration: none; color:#fff;"><i class="uil uil-search"></i> Открыть</a>
          </button>
             <button @click="removeCategory(category.id)"
             class="btn btn-danger btn-sm float-end"><i class="uil uil-trash-alt"></i> Удалить</button>
             <button @click="updateCategory(category.id, category.title, category.description)"
             class="btn btn-danger btn-sm float-end"><i class="uil uil-edit-alt"></i> Сохранить</button>
         </div>
      </div>
     </div>
    </div>
   </template>
</div>
</div>


</div>
</div>
<script>


const getCategories = () => {
    return {
        newCategory: '',
        newDescription: '',
        categories: [
            {% for category in categories %}
            { 'title': '{{ category.name }}', 'id': '{{ category.id }}', 'description': '{{ category.content }}' },
            {% endfor %}
        ]
    }
};

const csrftoken = document.querySelector('#category-form > input').value;


const addCategory = async (title, description) => {
    try {
    const res = await axios.post('/api/groups',
        { name:title, content:description },
        { headers: { 'X-CSRFToken': csrftoken }}
        );
    location.reload();
      } catch (e) {
        console.error(e);
      }
};

const updateCategory = async (categoryId, title, description) => {
    try {
    const res = await axios.patch('/api/groups/' + categoryId,
        { name:title, content:description },
        { headers: { 'X-CSRFToken': csrftoken }}
        );
    location.reload();
      } catch (e) {
        console.error(e);
      }
};

const removeCategory = async categoryId => {
    try {
    const res = await axios.delete('/api/groups/' + categoryId,
        { headers: { 'X-CSRFToken': csrftoken }}
        );
    location.reload();
      } catch (e) {
        console.error(e);
      }
};

</script>

{% endblock %}








