{% extends "_base.html" %}
{% block title %}
{{ category.title }} Приложение Notes
{% endblock %}
{% block content %}


<div x-data="getNotes()">
    <h3 class="text-center mt-5" style="color:#777">заметки в группе <span class="fw-bold">{{ category.name }}</span>
            пользователя <span class="fw-bold">{{ request.user.username | default:'Guest' }}</span></h3>
    <form id="note-form">
        {% csrf_token %}
    </form>
    <div class="container pt-5">
        <div class="input-group px-5">
            <input x-model="newTitle" class="form-control" placeholder="Заголовок заметки">
            <input x-model="newContent" class="form-control" placeholder="Текст заметки">
            <button @click="addNote({{ category.id }}, newTitle, newContent )" class="btn btn-primary"><i class="uil uil-notes"></i> Добавить заметку</button>
        </div>
    </div>
<div class="container pt-5">

    <div class="row row-cols-1 row-cols-md-3 g-4">
       <template x-for="note in notes">
        <div class="col">
          <div class="card h-100 bg-light mb-3">
            <div class="card-header">
<!--
                <h4 class="card-title text-center my-2" x-text="note.title"></h4>
-->
                 <input x-model="note.title" class="form-control" >
            </div>
            <div class="card-body">
                <textarea x-model="note.content" class="form-control" ></textarea>
            </div>

            <div class="card-body">

            </div>

           <div class="card-footer">
               <div class="btn-group" role="group">
            <button @click="removeNote(note.id)" class="btn btn-danger"><i class="uil uil-trash-alt"></i> Удалить</button></div>
             <button @click="updateNote({{ category.id }}, note.id, note.title, note.content)"
             class="btn btn-danger btn-sm float-end"><i class="uil uil-edit-alt"></i> Сохранить</button>
            </div>
           </div>
         </div>
       </template>
    </div>
</div>

</div>


<script>

const csrftoken = document.querySelector('#note-form > input').value;


const getNotes = () => {
    return {
        newTitle: '',
        newContent: '',
        notes: [
            {% for note in category.notes_by_group.all %}
                { 'title': '{{ note.title }}', 'id': '{{ note.id }}', 'content': '{{ note.content }}' },
            {% endfor %}
        ]
    }
};

const addNote = async (categoryId, title, content) => {
    try {
    const res = await axios.post('/api/notes',
        { group_id: categoryId, title: title, content: content },
        { headers: { 'X-CSRFToken': csrftoken }}
        );
    location.reload();
      } catch (e) {
        console.error(e);
      }
};

const removeNote = async noteId => {
    try {
    const res = await axios.delete('/api/notes/' + noteId,
        { headers: { 'X-CSRFToken': csrftoken }}
        );
    location.reload();
      } catch (e) {
        console.error(e);
      }
};

const updateNote = async (categoryId, noteId, title, content) => {
    try {
    const res = await axios.patch('/api/notes/' + noteId,
        { group_id: categoryId, title: title, content: content},
        { headers: { 'X-CSRFToken': csrftoken }}
        );
    location.reload();
      } catch (e) {
        console.error(e);
      }
};


</script>

{% endblock %}