{% extends '_base.html' %}
{% load bootstrap5 %}
{% block content %}

{% comment %}
{% if edit_mode %}
<h1>Редактируем заметку</h1>
<a type="button" class="btn btn-primary" href="{% url 'home'%}">Delete</a>
{% else %}
<h1>Добавить заметку</h1>
{% endif %}
{% endcomment %}

<h3 class="text-center mt-5" style="color:#777">Редактируем заметку пользователя <span class="fw-bold">{{ request.user.username | default:'Guest' }}</span></h3>
{# Display a form #}
<!--
<form action="/url/to/submit/" method="post" class="form">
-->
<form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    {% endbuttons %}
</form>
{% endblock %}