
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <title>َAnimated Login Form</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

  </head>

  <body>

<form class="box"  method="post">
    {% csrf_token %}

  <h1>Login</h1>

    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Login" /></p>
</form>

  </body>

</html>